#refresh {
  position: relative;
}

#refresh svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, calc(-50% - 2px));
}

#counter {
  font-size: clamp(31px, 3.2vw, 52px);
  white-space: nowrap;
}
